<div class="padding">
  <div id="blog-index">
    <h1>Blog</h1>

    <% if current_user && current_user.admin? %>
      <%= link_to "New post", new_post_path %>
    <% end %>

    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div id="blog-title">
          <h3><%= link_to post.post_title, post_path(post) %></h3>
          <h4><%= post.created_at.time.strftime "%B %d, %Y" %></h4>
        </div>
        <%= image_tag post.attached_image.url(:medium), id: "blog-pic" %>
        <p><%= post.post_content %></p>

        <h4>Comments: <%= post.comments.length %> | <%= link_to "Show comments", post_path(post), id: "show_comments_link", remote: true  %> |

        <% if current_user %>
          <%= link_to "Add a comment", new_post_comment_path(post), id: "new_comment_link", remote: true %>
        <% else %>
          <p><%= link_to "Sign in to post comments.", new_user_session_path %></p>
        <% end %></h4>
        <br>
      <% end %>
    <% end %>
  </div>
</div>
