<div class="padding">
  <h1>New Blog Post</h1>

  <%= bootstrap_form_for @post, :url => posts_path, :html => { :multipart => true} do |f| %>
    <%= f.text_field :post_title %>
    <br><br>
    <%= f.text_area :post_content %>
    <br>
    <%= f.file_field :attached_image %>
    <br>
    <%= f.submit "Add post", class: "btn btn-success" %>
  <% end %>
</div>
